body {
    background-color: #E4E2DD;
    margin: 0;
    padding: 0;
    color: #CDC2A5;
    font-family: "Inter";
    font-weight: 400;
    min-height: 110vh;
}

a {
    text-decoration: none;
    color: #CDC2A5;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 300px;
}

.title {
    color: white;
    max-width: 200px;
    text-align: center;
}

.opret-konto-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

.opret-konto-form div {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    font-weight: 500;
    width: 100%;
}

.opret-konto-input {
    border: 1px solid #CDC2A5;
    border-radius: 20px;
    padding: 10px 15px;
}

.opret-konto-input:focus {
    outline: none;
    border: 1px solid blue;
}

.opretBtn {
    margin-top: 16px;
    padding: 10px 0px;
    width: 100%;
    border: 1px solid #CDC2A5;
    border-radius: 20px;
    color: white;
    background-color: #CDC2A5;
}

.opretBtn:hover {
    transition: 0.5s;
    background-color: #6e5b2c;
    color: #ffffff;
    border: 1px solid #6e5b2c;
}

/* Navigation menu  */

/* .bottom-navigation {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}
  
.menu-item {
    text-align: center;
    cursor: pointer;
    color: #CDC2A5;
    font-size: 11px;
    font-family: "Inter";
}

.menu-item p{
    margin: 5px 0px 0px 0px;
}

.sub-menu {
    display: none;
    position: absolute;
    background-color: #333;
    list-style-type: none;
    padding: 0;
    margin: 0;
    bottom: 100px;
}

.sub-menu li {
    padding: 10px;
}

.sub-menu li a {
    color: white;
    text-decoration: none;
}
  
.sub-menu li a:hover {
    text-decoration: underline;
}

#sub-menu-1 {
    
}

#sub-menu-2 {
    bottom: 100px;
    right: 1;
} */

/* Forside */
/* .containerHome {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.imageContainer {
    background-image: url('/images/wedding2.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 90%;
}

.weddingPhoto{
    width: 100%;
} */

@media (min-width: 350px){
    .opret-konto-form div {
        width: 300px;
    }

    .opretBtn {
        width: 300px;
    }
}