body {
    background-color: #E4E2DD;
    margin: 0;
    padding: 0;
    color: #CDC2A5;
    font-family: "Inter";
    font-weight: 900;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 300px;
}

.title {
    color: white;
    max-width: 200px;
    text-align: center;
}

.opret-konto-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

.opret-konto-form div {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    font-weight: 500;
    width: 100%;
}

.opret-konto-input {
    border: 1px solid #CDC2A5;
    border-radius: 20px;
    padding: 10px 15px;
}

.opret-konto-input:focus {
    outline: none;
    border: 1px solid blue;
}

.opretBtn {
    margin-top: 16px;
    padding: 10px 0px;
    width: 100%;
    border: 1px solid #CDC2A5;
    border-radius: 20px;
    color: white;
    background-color: #CDC2A5;
}

.opretBtn:hover {
    transition: 0.5s;
    background-color: #6e5b2c;
    color: #ffffff;
    border: 1px solid #6e5b2c;
}

@media (min-width: 350px){
    .opret-konto-form div {
        width: 300px;
    }

    .opretBtn {
        width: 300px;
    }
}